.bloglistelement {
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none;
    background-color: #333538;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 24px ;
    text-align: center;
}

ul {
    padding-left: 0px;
    padding-right: 0px;
}
