.animalContentContainer 
{
  column-gap: 5px;
  max-width: 1200px;
  min-width: 1130px;
  display: grid;
}

.animalContentContainerLeft {
  
  grid-template-columns: 40% 60%;
}

.animalContentContainerLeftVertical {
  grid-template-columns: 60% 40%;
}

.animalContentContainerRight {
  grid-template-columns: 60% 40%;
}

.animalContentContainerRightVertical {
  grid-template-columns: 60% 40%;
}

.plushieImgVerical {
  width:450px; 
  height:600px;
}

.plushieImgHorizontal {
  width:600px; 
  height:450px;
}

/* Adapting Elements To Smaller Screen Sizes */
@media screen and (max-width: 1500px) {  
    .plushieImgVerical {
      width:300px; 
      height:400px;
    }
  
    .plushieImgHorizontal {
      width:400px; 
      height:300px;
    }
  
    .animalContentContainer {
      max-width: 1000px;
      min-width: 800px;
    }
  }

  