/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


body {
  background-color: #1d1f21;
  margin-top: 120px;
  --comment-opacity: 0.7;
  --global-fade-animation: 0.25s;
  --cursor-fade-animation: 1s;
  --separator-color: gray;
  margin-left: 0px;
}

main {
  max-width: 65%;
  margin: 120px auto;
  min-height: 100vh;    
}

a{  
  color: #C9CDFC;  
}  

.headingCenter{
  text-align: center;
}

.navBarButton > a {
  text-decoration: none;
}

html {
  color: #ffc0cb ;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: clamp(0.8rem, 0.45rem + 17.5vw, 1.15rem);
  --font-size-bigger: 1.25em;
  --font-size-smaller: 0.85em; 
}

.code {
  font-size: larger;
  font-family: monospace;
}

.cursor {
  animation: cursor var(--cursor-fade-animation) infinite;

}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.categoryHeader {
    text-align: center;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 6px;
}

.categoryHeaderH5 {
  text-align: center;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 6px;
}

.categoryHeaderIcon {
  width: 1.2em;
}

.gitLinks {
  text-align: center;
}

footer {
	overflow: hidden;
	background-color:#2A2A2A ;
	text-align: center;
	font-size: 0.9rem;
  width: auto;
  margin-top: auto;
  padding-left: 16px;
  padding-right: 16px;
}


ul {
  line-height:160%;
  list-style-type:disc;
}

.pageText {
  align-self: center;
}

/* Adapting Elements To Smaller Screen Sizes */
@media screen and (max-width: 1500px) {  
  html {
    font-size: clamp(0.8rem, 0.45rem + 17.5vw, 1.15rem);
  }
  main {
    max-width: 80%;
  }
}


@media screen and (max-width: 900px) {
  html {
    font-size: 1.2em;
  }
  main {
    max-width: 96%;
  }
}

a{
  text-decoration: none;
}
