{% macro header() %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zoey Blogs</title>
    <link href="/css/article_landing.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/articles.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/media.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/plushie.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/computingBlog.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/landing.css" rel="stylesheet" type="text/css" media="all">
</head>
{% endmacro %}
