{% extends "indexbase.html" %}


{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="view-transition" content="same-origin"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To The Land Of Zoey!</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/landing.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <main>
      <div class="catHeader">
        <p><b><code class="code" aria-hidden="true">[zoey@fedora:~]$ cat /usr/include/rat/homepage.html </code><span class="cursor">█</span></b></p>
      </div>
      <h1 class="categoryHeader"> <img src="/img/Landing/web-browser-symbolic.svg" alt="Linux" class="categoryHeaderIcon" > Welcome To My blahaj.land Page :3 </h1> 
      <div class="pageText"> 
        <div class="topOfPage">
          <img class ="myPFP" src="/img/Landing/mypfp2.png">
          <p class="source">PFP by <a href="https://sabbyblue.blahaj.land/">Sabby Blue!</a>.</p>
          <p> Welcome Darling! My name is Zoey, and its great seeing you stop by my homepage UwU. My page will contain my thoughts and experiences making and maintaing computer software and servers, navigating life as an autistic POC trans girl, showing off all my cute plushies, and everything else in between.</p>
          <p> Currently exploring Streaming on Twitch.TV and becoming a part-time streamer / VTuber.</p>
          <div class="infoBox">
            <div class="infoElement">
              <h2><b> My Pronouns:</b></h2>
              <ul>
                <li> She/Her</li>
                <li> They/Them</li>
                <li> <a href = https://en.pronouns.page/fey/feym/feyr/feyrs/feymself>Fey/Feym</a> </li>
              </ul>
            </div>

            <div class="infoElement">
              <h2><b> My Socials:</b></h2>
              <ul>
                <li> <a href = https://www.youtube.com/channel/UCO6AzF4NRGRcu7ZnL2QQt3A target="_blank"> YouTube :3 </a></li>
                <li> <a href = https://blahaj.lol/users/zoey target="_blank"> Mastodon :3 </a></li>
                <li> <a href = https://github.com/ZoeTheTransHoe target="_blank"> GitHub :3</a></li>
                <li> <a href = https://www.twitch.tv/zoey_the_trans_rat target="_blank"> Twitch :3</a></li>
                <li> Matrix : @zoey_the_cutest_rat:matrix.org</a></li>
              </ul>
            </div>
          </div>
        </div>
        <h5 class="categoryHeaderH5">  Friends Of The Site!  </h5>
          <ul>
            <li> <a href="https://axtlos.neocities.org/" target="_blank">Xenia</a> </li>
            <p> Xenia is my fellow mouse girl. They now work on VanillaOS, a very interesting immutable Linux disto, and believes PHP isn't real (which im inclined to agree with). We generally get up to rodent behaviour together.</p>
            <li> <a href="https://eris.gay" target="_blank">Eris</a> </li>
            <p> Eris Is My Favourite Little Insane Goober Who Is Very Outspoken And Lots Of Cute Niche Interests, Whilst Also Being Fun And Helpful Too :3 </p>
            <li> <a href= https://blahaj.land/landing/" target="_blank"> Eryn</a></li>
            <p> Inbetween spreading misinformation, they host, among many other services, the Minecraft server for "The Linux Experiment" Discord Server. They are pretty rad when they are not threatening my life :p.  </p>
            <li> <a href = "https://crittercorner.space/" target="_blank">Clockwork Critter </a></li>
            <p>Critter Is A Possum/Goober And Informational Scientist Who Makes Me Feel Very Welcomed And Appreicated With Its Warmth And Kindness ^^</p>
            <li> <a href = "https://moonsworld.neocities.org" target="_blank"> Marceline </a></li>
            <p> Marceline is a new friend of mine and shes also very sweet and eager t  o learn :3</p>
            <li> <a href = "https://alexthacatboy.neocities.org/" target="_blank"> Alex</a></li>
            <p> Alex is my catboy boywife who licks everything and plays Helldivers 2 a bit too much.</p>
            <li> <a href = "https://runarcn.no/" target="_blank"> Runarcn</a></li>
            <p> Runarcn is my free-jazz playing friend, currently practing the bass and piano, whos also in Linux/FOSS space. They are also goated at BloonsTD6, and a fellow capybara enthusiast. </p>
            <li> <a href = "https://oomfie.gitlab.io/" target="_blank"> Amy/Bunni </a></li>
            <p> Amy is my other bunny friend whos very passionate for graphic design and NixOS fan. Make sure to check out her amazing articles and her website rewrite ^^.</p>
            <li> <a href = "https://veeronniecaw.xyz/" target="_blank"> Ronnie </a></li>
            <p> Ronnie is my skull-doggy bestie with based music taste, and has just recently got into web development too. Check out their new website!</p>
            <li> <a href="https://gloam.place/" target="_blank"> Vanitas Gloam</a></li>
            <p> Vanitas is my other cute rat bestie, and is probably 10 Tamari Vocaloid plushie in a trenchcoat IRL. They will hang up on you by dramatically folding down their flip-phone.</p>
            <li> <a href="https://sabbyblue.blahaj.land/" target="_blank">Sabby!</a></li>
            <p>Sabby is my cool puppy girlfriend, and also an aspirational artist and GNOME shill. Her website is new, so make sure to drop by :3.</p>
          </ul>
        <p> I Love All My Friends And They Make Me Feel Happy And Excited To Learn More In The FOSS and Queer Space <3. </p>
      </div>        
    </main>
  </body>
</html>

{% endblock content %}